@import "../css/App.css";

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: var(--header-colorQuaternary);
  font-size: var(--secondary-font-size);
  font-family: var(--primary-font);
}

a:hover {
  color: var(--header-colorSecondary);
}

/* Ajustar el estilo del Dropdown */
.dropdown-toggle {
  background-color: var(--header-colorPrimary);
  border: none;
  font-size: var(--secondary-font-size);
  font-family: var(--primary-font);
  color: var(--header-colorQuaternary);
}

.dropdown-toggle:hover {
  background-color: var(--header-colorSecondary);
}

.dropdown-menu {
  background-color: var(--header-colorPrimary);
  border: none;
}

.dropdown-item {
  color: var(--header-colorQuaternary);
}

.dropdown-item:hover {
  background-color: var(--header-colorSecondary);
  color: var(--header-colorQuaternary);
}

